# step0. python3.8

# step 1. install pytorch 
# https://pytorch.org/get-started/locally/

# step2. pip install -r REQUIREMENTS.txt 
opencv-python==4.5.1.48
urllib3==1.25.10
numpy==1.20.2
efficientnet-pytorch==0.7.0
torchvision
Pillow==7.2.0

# step3. change the following path
#    face_cascade = cv2.CascadeClassifier('/home/andyyen2529/.local/lib/python3.6/site-packages/cv2/data/haarcascade_frontalface_default.xml') ## change this

# maybe look like this in windows C:\\Users\\andyy\\anaconda3\\envs\\python38\\Lib\\site-packages\\cv2\\data\\haarcascade_frontalface_default.xml

# step4. unzip models.zip.001 002

# step5. finish